.homePage {
    background-color: black;
    position: fixed;
    z-index: -1;
}

.container {
width: 85%;
height: 93%;
background-image: url(./public/homeScreen1.JPG);
background-repeat: none;
background-size: cover;
position: fixed;
z-index: 2;
margin-left: 13vw;
margin-top: 1vw;
}

.indexTitle {
    color: gray;
    margin-left: 7vw;
    margin-top: 5vw;
    position: fixed;
    z-index: 3;
    font-size: 6em;
    line-height: 1.15em;
    margin-bottom: 0px;
}

.indexSubTitle {
    color: gray;
    margin-left: 7vw;
    margin-top: 16vw;
    position: fixed;
    z-index: 3;
}

.homeList .subList {
    list-style: none;
    float: left;
    padding: 0.5vw;
    margin-top: 20vw;
    border: 3px solid white;
    position: relative;
    z-index: 3;
    margin-left: 30px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    
}

a:link {
    text-decoration: none;
}

