/* Begining of home page */
.homePage {
    background-color: black;
    position: fixed;
    z-index: -1;
}

/*.footItem .footList {
    list-style: none;
    text-align: right;
    margin-top: 2.5vw;
    border-top: 1px solid black;
    padding: 1px;
    padding-right: 1vw;
}

#identifier {
    padding-top: 20px;
}

#phoneNumber, #email {
    border: none;
    margin-top: 0.5vw;
}*/ 
/*Footer Content which was erased above*/

.container {
width: 85%;
height: 93%;
background-image: url(./public/homeScreen1.JPG);
background-repeat: none;
background-size: cover;
position: fixed;
z-index: 2;
margin-left: 19vw;
margin-top: 1vw;
}

.container:hover {
    width: 85%;
height: 93%;
background-image: url(./public/homeScreen2.jpg);
background-repeat: none;
background-size: cover;
position: fixed;
z-index: 2;
margin-left: 19vw;
margin-top: 1vw;
cursor: pointer;
}

.indexTitle {
    color: gray;
    margin-left: 3vw;
    margin-top: 5vw;
    position: fixed;
    z-index: 3;
    font-size: 6em;
    line-height: 1.15em;
    margin-bottom: 0px;
}

.indexTitle:hover {
    cursor: pointer;
}

.indexSubTitle {
    color: gray;
    margin-left: 2vw;
    margin-top: 16vw;
    position: fixed;
    z-index: 3;
    font-size: 1.25em;
}

.indexSubTitle:hover {
    cursor: pointer;
}

.homeList .subList {
    list-style: none;
    float: left;
    padding: 0.5vw;
    margin-top: 20vw;
    border: 3px solid white;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    font-size: 1.5em;
   
}

.homeLink {
    text-decoration: none;
    color: white;
    
}

.homeLink:link {
    text-decoration: none;
}
/*End of Home List */

/*Begining of navigation bar */
.navBar .navList {
    list-style: none;
    float: right;
    margin-right: 4vw;
    margin-top: 2.5vw;
    position:static;
}

.mainLink {
    text-decoration: none;
}

.mainLink:link {
    color: black;
}

.mainLink:visited {
    color: black;
}

.mainLink:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*End of navigation bar */

/*Begining of about me page */
.infoBox {
    clear: both;
    margin-top: 50px;
   
}
.aboutMeText {
    float: right;
    width:650px;
    font-size: 1.25em;
    line-height: 3.5em;
    margin-top: 2vw;
    margin-right: 5vw;
}

.aboutMe {
    margin-top: 2.3vw;
    height: 600px;
}
/*End of about me page */

/* Begining of portfolio page CSS*/
.categories {
    clear: both;
}

.listPort {
    list-style: none;
    float: left;
    margin: 5vw 1.75vw 2vw 1vw;
    margin-left: 2.75vw;
}

.listPort:link{
    color: black;
    text-decoration: none;
}

.listPort:visited {
    color: black;
}

.listPort:hover {
    font-size: 1.20em;
    color: crimson;
    cursor: pointer;
}

.gallery {
    clear: both;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 0px;
    margin-right: 0px;
}

img {
    width: 471px;
    height:450px
}

.documentary, .event, .family, 
.headshot, .lifestyle, .love, 
.pet, .portrait, .sports, .studio, 
.watershadow, .wildlife {
    display: none;
}

#image16 {
    display: block;
}

.pagination {
    margin-top: 2vw;
}

.pagination {
    margin-top: 3vw;
    margin-left: 50%;
    cursor: pointer;
    height: 5vw;
}

.pagePort:hover, .pagePort:hover, .pagePort:hover {
    color: red;
}
/*End of portfolio page */

/*Begining of Investment Page*/
.inventmentBlock {
    clear: both;
}

.investmentOptions {
    position: absolute;
    margin-top: 10vw;
    margin-left: 15vw;
    display: grid;
    grid-template-columns: auto auto auto;

}

.investmentHeader {
    position: absolute;
    text-align: center;
    margin-top: 5%;
    margin-left: 40%;    
}

.individualSession {
    margin-right: 4vw;
    border: 0.5px solid black;
    height: 700px;
    width: 400px;
    text-align: center;
    background-color: beige;
}

.portraitSession {
    margin-right: 4vw;
    border: 0.5px solid black;
    height: 700px;
    width: 400px;
    text-align: center;
    background-color: beige;
}

.groupSession {
    margin-right: 4vw;
    border: 0.5px solid black;
    height: 700px;
    width: 400px;
    text-align: center;
    background-color: beige;
}

.individualPic {
    height: 175px;
    width: 300px;
}

.groupPic {
    height: 175px;
    width: 300px;
}

.familyPic {
    height: 175px;
    width: 300px;
}

.subHeader {
    text-decoration: underline;
}

.priceTag {
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5vw;
    width: 80%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.priceHeader {
    text-align: left;
    margin-left: 9%;
}

li h4 {
    text-align: left;
    
}

.priceList {
    text-align: left;
    list-style-type: square;
}

/*Footer starts here*/
footer {
    clear: both;
}

.footNote {
    margin-top: 60vw;
}